<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="ui">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File">
            <FileName>logs/general.log</FileName>
            <PatternLayout>
                <Pattern>[%c{1}] [%d{dd-MM-yyyy HH:mm:ss}] %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="command" level="INFO">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="interrupt" level="INFO">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="sensor" level="INFO">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="error" level="error">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>